<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You first Spring application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/includes/header_common_links"></div> <!-- todos los css -->
</head>
<body>
<header>
    <nav th:replace="/includes/header :: header_fragment"></nav>
</header>
<main class="text-center" style="margin-top: 300px">
    <button><a th:href="@{/register}">REGISTRARSE</a></button>
    <button><a th:href="@{/coches}">COCHES</a></button>
</main>
<footer th:replace="/includes/footer :: footer"></footer>
<div th:replace="/includes/footer_common_links"></div> <!-- todos los js -->
</body>
</html>
